<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.HabitDao">

    <select id="getHabitById" resultType="com.example.demo.model.Habit">
        select * from habit where user_id = #{id}
    </select>

    <update id="editHabit"  parameterType="com.example.demo.model.Habit">
        UPDATE user
        SET name = #{habit.name},
            description = #{habit.description},
            start_date = #{habit.start_date},
            end_date = #{habit.end_date}
        WHERE
            habit_id = #{habit.habit_id}
    </update>

</mapper>

