<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.HabitDao">

    <select id="getHabitByUserId" resultType="com.example.demo.model.Habit">
        select * from habit where user_id = #{id}
    </select>

    <select id="getHabitByHabitID" resultType="com.example.demo.model.Habit">
        select * from habit
                 where
                     Habit_id = #{habit_id} and
                     user_id = #{user_id}
    </select>

    <update id="editHabit"  parameterType="com.example.demo.model.Habit">
        UPDATE habit
        SET
            description = #{description},
            start_date = #{start_date},
            end_date = #{end_date}
        WHERE
            habit_id = #{habit_id} and
            user_id = #{user_id}
    </update>

    <insert id="newHabit" parameterType="com.example.demo.model.Habit">
        INSERT INTO habit (user_id, name, description, start_date, end_date)
        VALUES (#{user_id}, #{name}, #{description}, #{start_date}, #{end_date})
    </insert>


</mapper>

