<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">

    <select id="getUserById" resultType="com.example.demo.model.User">
        select * from user where id = #{id}
    </select>

    <insert  id="registerUser" >
        INSERT INTO user(id, name, phone, passwd,status) VALUES (#{stunum},#{stuname},#{stuphone},#{pw},1)
    </insert >

    <update id="editUser" parameterType="com.example.demo.model.User">
        UPDATE user
        SET name = #{user.name},
            email = #{user.email},
            gender = #{user.gender},
            biography = #{user.biography},
            phone = #{user.phone}
        WHERE id = #{id}
    </update>
</mapper>

