* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../img/bj2.jpg') no-repeat;
	background-size: 100%;
}

.head {
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
}

.head .logo {
	/*font-family: ;*/
	font-weight: 500;
	font-size: 25px;
	margin: 0 20px;
	/*float: left;*/
	line-height: 60px;
}

.img_logo {
	height: 45px;
	width: 220px;
}

.head .user {
	float: right;
	height: 30px;
	width: 30px;
	margin: 15px 15px;

}

.head .tuichu {
	height: 60px;
	float: right;
	margin-right: 50px;
}

.head .yonghu {
	line-height: 60px;
	color: #ffffff;
	height: 60px;
	float: right;
	margin-right: 35px;
	font-size: 22px;
}

.head a {
	line-height: 60px;
	height: 60px;
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
}

.head a:hover {
	color: gray;
	color: #a6ffd7;
}

.table_box_index {
	height: 530px;
	width: 900px;
	margin: 60px auto 0;
	background-color: #ffffff80;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
	overflow:hidden;

}
.table_box_index h1{
	margin: 30px 0 30px;
	text-align: center;
	color: #4a4a4a;
}
.nav-left {
	width: 200px;
	height: 438px;
	float: left;
	border-right: 4px solid #989797d0;
	background-color: #ffffffa0;
	border-radius: 10px 0 0 10px;
}
.nav-left a{
	border: 0;
	width: 100%;
	font-size: 20px;
	line-height: 65px;
	background-color:#ffffffc8;
	color: #5e5e5e;	
}
.nav-left ul li {
	height: 65px;
	width: 100%;
	list-style: none;
	border-bottom: 2px solid #989797d0;
	text-align: center;
}

.nav-left ul .li1 {
	text-align: center;
	font: 700 30px 'microsoft yahei';
	font-family: 'Courier New', Courier, monospace;
	padding: 48px 0;
	height: 34px;
	width: 100%;
	list-style: none;
	border-bottom: 4px solid #989797d0;
}


.nav-left ul li a {
	line-height: 65px;
	height: 65px;
	display: block;
	text-decoration: none;
	color: gray;
	font-size: 20px;
}

.nav-left ul li a:hover {
	background-color: #aaaaaa;
	color: #ffffff;
}

.nav-body {
	margin: auto;
	width: 696px;
	height: 440px;
	overflow-y:auto;
}

.nav-body input{
	height: 25px;
	color: #3b3b3b;
	font-size: 1em;
	margin: 5px;
	background-color: transparent;
	outline: none;
	border: 2px solid #909090;
	text-align: left;
}
.nav-body textarea{
	background-color: #f8f8f875;
	font-size: 18px;
}

.nav-verification{
	text-align: center;
	width: 760px;
	margin: 0;
}
.submit{
	width: 70px;
	float: right;
}
.sub{
	font-size: 20px;
	text-decoration: none;
	padding: 3px 5px;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 45px;
}
.sub:hover{
	background-color: gray;
	color: #ffffff;
}





.nav-body table{
	color: #3b3b3b;
	/* border: 1px solid #4a4a4a; */
	font-size: 17px;
	letter-spacing:2.5px;
	margin: 30px auto ;
	text-align: center;
	border-radius: 3px;
	height: 30px;
}

.nav-body th{
	padding: 0 3px;
	min-width: 70px;
	max-width: 160px;
}
.nav-body td{
	padding: 0 3px;
	min-width: 70px;
	max-width: 160px;
	text-align: left;

}
.he{
	display: none;	
}

.topclick {
    height: 60px;
    width: 100px;
	margin-right: 20px;
	float: right;
    position:relative;
    display:inline-block;
}

.ltbox1 {
    width: 100px;
    height: 60px;
	/* margin-right: 20px; */
    /* background-color: chartreuse; */
	/* color: gray; */
	color: #ffffff;
    text-align: center;
    line-height: 81px;
    cursor: pointer;        /*鼠标指针经过*/
}

.ltbox2{
    width: 100px;
    height: 180px;
    /* margin-top: 0px; */
    border-radius: 10px;
    background-color: white;
    position:absolute;
    display: none;        /*使下拉菜单栏消失*/
	transition-duration: 0.5s;
}

/*顶部*/
.lit a:hover{
	border-radius: 10px 10px 0 0;
	/*margin-top: 10px;*/
}
/* .head a {
	line-height: 60px;
	height: 60px;
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
} */

/*底部*/
.lib a:hover{
	border-radius: 0 0 10px 10px;
	/*margin-top: 10px;*/
}
.topclick a{
	height: 40px;
	width: 100px;
	color: #000;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	display: block;
	font-size: 14px;
}
.ltbox2 li{
    height: 35px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    display: block; 
	font-size: 22px;/*使下拉菜单栏显示*/
}
.ltbox2 a:hover{
    background-color:#E8E8E8;
	color: #000;
}
 
.topclick:hover .ltbox2{
    display: block;
}

.th1 {
	background-color: #ffffffa0;
	color: #4a4a4a;
	text-align: center;
	/* margin-top: 30px; */
	height: 90px;
	line-height: 90px;
	display: block;
	border-bottom: solid 2px #9f9f9f;
}

.sign_back{
	position: absolute;
	top: 5px;
	left: 15px;
	color: #3b3b3b;
	text-decoration:none;

}
.sign_back:hover{
	color: #011653;
}


.habit{
	overflow-x: auto;
	overflow-y:auto;
	white-space: nowrap;
	text-align: center;

}

.habit_box{
	margin: 30px 45px;
	width: 200px;
	height: 250px;
	background-color: rgba(236, 236, 236, 0.79);
	display: inline-block;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #484242;

	border: 1px solid #909090;
	/*position: relative;*/
}
.habit::-webkit-scrollbar {
	display: none;
}

.habit_head{
	/*float: right;*/
	/*display: inline-block;*/
	width: 200px;
	height: 50px;
	border-bottom-style:solid;
	border-bottom-color: rgba(91, 88, 88, 0.81);
	border-width:1px;
	/*text-align: center;*/
}

.habit_head h3{
	line-height: 50px;
	display: inline-block;
}

.habit_p{
	width: 200px;
	height: 150px;
	text-align: center;
}
.habit_p span{
	margin-top: 20px;
	display: inline-block;
	max-width: 150px;
	word-break: break-all;
	white-space: normal;
}
.habit_box a{
	color: #008c8c;
	margin: 14px 10px;
	display: inline-block;
}


.user{
	width: 500px;
	height: 280px;
	margin: 50px auto 0;
	line-height: 35px;
	font-size: 18px;
}
.habit_history_button{
	width: 500px;
	margin: auto;
	/*display: inline-block;*/
	text-align: center;
}

.habit_history_button button{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
	height: 35px;
	width: 130px;
	border-radius: 10px;
	background-color: #ffffff90;
	border: 2px solid #909090;
}
.habit_history_button button:hover{
	background-color: #9fd9ba;
	cursor:pointer;
}


/* 下拉表单 */
.select_wrap {
	width: 300px;
	text-align: center;
	display: block;
	margin:70px auto ;

}
.select_wrap select{
	font-size: 18px;
	width: 250px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
}
.select_wrap input{
	font-size: 18px;
	width: 250px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
}
.select_wrap option{
	display: inline-block;
	margin-left: 80px;
}


.table_box_clock{
	width: 550px;
	height: 350px;
	background-color: #ffffff90;
	position: absolute;
	top: 150px;
	left: 455px;
	border-radius: 10px;
	box-shadow: 4px 4px 3px 4px #00000045;

}

.table_box_clock h1{
	margin: 30px 0 30px;
	text-align: center;
	color: #4a4a4a;
}


.select_wrap input{
	height: 25px;
	color: #3b3b3b;
	font-size: 1em;
	margin: 5px;
	background-color: transparent;
	outline: none;
	border: 2px solid #909090;
}