<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<link href="../static/css/index.css" th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
<link href="../static/css/index.css" type="text/css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>习惯栖息地-签到详情</title>
</head>
<style>

</style>
<body>
<div>
    <div class="head">
        <span class="logo">习惯栖息地</span>
        <div class="topclick">
            <div class="ltbox1 ">
                <img src="../static/img/mean.png" th:src="@{img/mean.png}" style="height: 30px; width: 30px;">
            </div>
            <ul class="ltbox2">
                <li class="lit"><a href="index">主页</a></li>
                <li><a href="user">个人信息</a></li>
                <li><a href="habit">习惯管理</a></li>
                <li><a href="clock">每日签到</a></li>
                <li class="lib"><a href="logout">退出登录</a></li>
            </ul>
        </div>

    </div>
    <div class='table_box_index'>
        <h1>签到详情</h1>
        <section id="profile" class="user">
            <p id="habit">名称：每日一读</p>
            <p id="datastart">开始时间：2023.12.1</p>
            <p id="dataend">结束时间：2023.12.10</p>
            <p id="phone">打卡频率：每日</p>
            <p id="gender">打卡进度：4/8</p>
            <p id="state">今日状态：已打卡</p>
            <p id="summary">简介：每日至少读一小时的书，丰富自己的精神世界</p>

        </section>
        <div class="habit_history_button">
            <button>返回</button>
            <button>修改</button>
            <button>打卡历史</button>
        </div>

    </div>
</div>

</body>

</html>
