<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<link href="../static/css/index.css" th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
<!--<link href="../static/css/index.css" type="text/css" rel="stylesheet"/>-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>习惯栖息地-编辑习惯</title>
</head>
<style>

</style>
<body>
<div>
    <div class="head">
        <span class="logo">习惯栖息地</span>
        <div class="topclick">
            <div class="ltbox1 ">
                <img src="../static/img/mean.png" th:src="@{img/mean.png}" style="height: 30px; width: 30px;">
            </div>
            <ul class="ltbox2">
                <li class="lit"><a href="index">主页</a></li>
                <li><a href="user">个人信息</a></li>
                <li><a href="habit">习惯管理</a></li>
                <li><a href="clock">每日签到</a></li>
                <li class="lib"><a href="login">退出登录</a></li>
            </ul>
        </div>

    </div>
    <div class='table_box_index'>
        <h1>编辑习惯</h1>
        <div class="nav-body" style="text-align: center;">
            <table style="margin:30px auto ;margin-top:10px;width: 380px" class="sgint">
                <tr>
                    <td style="text-align:justify;text-justify:distribute-all-lines;text-align-last:justify">习惯名称:</td>
                    <td th:text="${habit.getName()}">每日一读<br></td>
                </tr>
                <tr>
                    <td style="text-align:justify;text-justify:distribute-all-lines;text-align-last:justify">开始日期:</td>
                    <td><input type="date" name="开始日期" th:value="${#dates.format(habit.getStart_date(), 'yyyy-MM-dd')}" value="2023-12-02"  form="" required/><br></td>
                </tr>
                <tr>
                    <td style="text-align:justify;text-justify:distribute-all-lines;text-align-last:justify">结束日期:</td>
                    <td><input type="date" name="结束日期"  th:value="${#dates.format(habit.getEnd_date(), 'yyyy-MM-dd')}" value="2023-12-10"  form="" /><br></td>
                </tr>
                <tr>
                    <td style="text-align:justify;text-justify:distribute-all-lines;text-align-last:justify" >打卡频率:</td>
                    <td><input type="text" name="打卡频率" value="每日"   /><br></td>
                </tr>

                <tr>
                    <td style="text-align:justify;text-justify:distribute-all-lines;text-align-last:justify">描述:</td>
                    <td><textarea name="描述" cols="29" rows="3"  th:text="${habit.getDescription()}">每天读一小时书</textarea><br></td>
                </tr>
            </table>

            <div class="habit_history_button">
                <button>返回</button>
                <button th:id="${habit.getHabit_id()}" onclick="habit_edit(this)">确认</button>
                <button>删除</button>
            </div>

        </div>
    </div>

</body>
<script src="../static/js/edithabit.js" th:src="@{/js/edithabit.js}"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

</div></html>
