<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<link href="../static/css/index.css" th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
<link href="../static/css/index.css" type="text/css" rel="stylesheet"/>
<link href="../static/css/user.css" th:href="@{/css/user.css}" type="text/css" rel="stylesheet"/>
<link href="../static/css/user.css" type="text/css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>习惯栖息地-编辑个人信息</title>
</head>
<style>

</style>
<body>
<div>
    <div class="head">
        <span class="logo">习惯栖息地</span>
        <div class="topclick">
            <div class="ltbox1 ">
                <img src="../static/img/mean.png" th:src="@{img/mean.png}" style="height: 30px; width: 30px;">
            </div>
            <ul class="ltbox2">
                <li class="lit"><a href="index">主页</a></li>
                <li><a href="user">个人信息</a></li>
                <li><a href="habit">习惯管理</a></li>
                <li><a href="clock">每日签到</a></li>
                <li class="lib"><a href="login">退出登录</a></li>
            </ul>
        </div>

    </div>
    <div class='table_box_index'>
        <h1>编辑个人信息</h1>
        <div class="info-page">

            <div id="modify-form">
                <label for="name">姓名：</label>
                <input type="text" id="name" name="name" required th:value="${name}" value="张三">

                <label for="email">邮箱：</label>
                <input type="text" id="email" name="email" required th:value="${email}" value="zhangsan@example.com">

                <label for="gender">性别：</label>
                <input type="text" id="gender" name="gender" required th:value="${gender}" value="男">

                <label for="phone">联系方式：</label>
                <input type="text" id="phone" name="phone" required th:value="${phone}" value="138-xxxx-xxxx">

                <label for="biography">简介：</label>
                <textarea name="描述" cols="40" rows="3"  id="biography"  th:text="${biography}">这是一个热爱编程的年轻人，拥有丰富的编程经验和扎实的技术功底。</textarea>
                <br>
                <button type="submit" class="modify-btn" onclick="location.href='/user';">返回</button>
                <button type="submit" class="modify-btn" id="edituser" >确认修改</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/edituser.js" th:src="@{/js/edituser.js}"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

</body>

</html>
